.linux__btn {
  -webkit-app-region: no-drag;
  -webkit-box-sizing: border-box;
  border-radius: 50%;
  box-sizing: border-box;
  height: 14px;
  width: 14px;
}

.linux__ubuntu {
  background-color: #ea6440;
}

.unfocused {
  background-color: #dcdcdc;
  border-color: #d1d1d1;
  opacity: .3;
}